name: Release
on:
    push:
        branches:
            - "main"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v2
              with:
                  version: 9.x
            - uses: actions/setup-node@v3
              with:
                  node-version: 22.x
                  cache: "pnpm"
                  registry-url: "https://registry.npmjs.org"
            - run: pnpm install
            - name: Create New Release
              id: changesets
              uses: changesets/action@v1
              with:
                  publish: pnpm release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ""
                  NODE_AUTH_TOKEN: ""
                  NPM_CONFIG_PROVENANCE: true
